body,html {
  position: relative;
}

body {
  font-family: 'NanumSquare', sans-serif;
}

.container a {
  text-decoration: none;
}

.nav>li>a {
  margin: 0 25px;
}

.nav_fix {
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar-default {
  width: 100vw;
}

.navbar span {
  text-decoration: none;
  color: rgb(68, 66, 66);
  font-weight: 600;
  font-size: 18px;
}

.navbar a:hover, .navbar a:focus {
  text-decoration: none;
}

.navbar-default {
  font-size: 18px;
}

.navbar-default .navbar-nav>.active>a {
  background-color: #ffffff;
  color: #ada074;
}

.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  background-color: #ffffff;
  color: #ada074;
}

/* 상단 메인이미지 */
#front_end {
	font-weight: 700;
	font-size: 3em;
}

.content_top {
  background: url(./img/main_top.jpg);
  background-size: cover;
  background-position: center; 
  width: 100%;
  height: 100vh;
  font-family: "Lato";
  color: white;
  margin: 0;
	padding-top: 20%;
	text-align: center;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}

hr {
  color: white;
  margin: 40px auto 40px auto;
  background-color: #ffffff;
  height: 1px;
  width: 106px;
  border: 0;
}

.btn-lg, .btn-lg:hover, .btn-lg:active, .btn-lg:focus {
  background: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0;
  font-size: 1em;
  margin: 100px auto;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar-default {
  background-color: #ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #ffffff;
}

.navbar-logo>img {
  display: inline;
  height: 50px;
}

.title h4 {
  font-size: 34px;
  color: rgb(68, 66, 66);
  text-align: center;
  margin-top: 120px;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.title hr {
  color: black;
  margin-top: 30px;
  background-color: black;
  height: 1px;
  width: 106px;
  border: 0;
}

.card1, .card2, .card3, .card4  {
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;
  text-align: center;
  color: black;
  cursor: pointer;
	outline: none;
}

.card-body {
  height: 280px;
  border-bottom: 1px solid #c7c7c7;
}

.card1 > .card-body {
  background-image: url(img/soso.png);
  background-position: center;
  background-size: cover;
}

.card2 > .card-body {
  background-image: url(img/duda.png);
  background-position: center;
  background-size: cover;
}

.card3 > .card-body {
  background-image: url(img/yupdduk.png);
  background-position: center;
  background-size: cover;
}

.card4 > .card-body {
  background-color: #E7EDF7;
}


/* ABOUT ME */
.circle {
  text-align: center;
}

.about_me p {
  text-align: center;
}

.about_me img {
  width: 60%;
}

.about_me p {
  color: #a4a4a4;
  margin: 40px auto;
  width: 300px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 300;
}

/* CONTACT */
.contact .col-sm-12 {
  text-align: center;
}

.contact p {
  margin-bottom: 30px;
}

.contact a {
  color: black;
  text-decoration: none;
}

.contact i {
	transition: transform 300ms ease;
  cursor: pointer;
}

#url_git {
  margin-top: 15px;
}

#phone_num {
  margin-top: 20px;
  letter-spacing: 0.25rem;
}

/* footer */
footer p {
  width: 100%;
  color: rgb(190, 190, 190);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  display: inline-block;
  padding: 50px 0 30px 0;
  font-weight: 800;
}

/* .modal */
.modal {  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal_content {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.hidden {
  display: none;
}

.modal_btn {
  text-align: right;
}

.closeBtn {
  background: #ffffff;
  color: #a59588;
  border: 0;
  font-size: 25px;
  font-weight: 900;
}

.modal_content h1 {
  color: #8b7969;
  font-size: 25px;
  letter-spacing: 6px;
}

.modal_content p {
  letter-spacing: 1px;
  color: #a4a4a4;
}

.modal_body img{
  width: 80%;
  margin-top: 30px;
}

.modal_body hr {
  border-bottom: 1px solid #a59588;
  margin: 40px auto;
  margin-bottom: 10px;
  width: 80%;
}

.modal_url {
  margin-top: 40px;
}

.modal_text p {
  font-size: 16px;
  color: #8b7969;
  font-weight: 600;
  display: inline-block;
}

.modal_text img {
  width: 40px;
  margin-top: 0;
  display: inline-block;
}

@media (max-width: 767px) {
  .title h4 {
    margin-top: 60px;
  }
  .card-body {
    height: 180px;
  }
}
